<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/navbar"></div>
        <div class="container">
            <h1 class="fw-bold">School list</h1>

            <div class="alert alert-success" role="alert" th:if="${messageType} == 'success'">
                <span th:text="${message}"></span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${messageType} == 'error'">
                <span th:text="${message}"></span>
            </div>
            <div class="alert alert-info" role="alert" th:if="${schools.size() == 0}">
                No schools found!
            </div>
            <a class="btn btn-success" href="/school/create" role="button">Add school</a>
            <br/> <br/>
            <table class="table table-dark" th:if="${schools.size() > 0}">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                    <tr th:each="school: ${schools}">
                        <th scope="row">
                            <a href="#" class="text-decoration-none" th:href="@{/school/{id}(id=${school.id})}">
                                <span th:text="${school.id}"></span>
                            </a>
                        </th>
                        <td th:text="${school.name}"></td>
                        <td th:text="${school.address}"></td>
                        <td th:text="${school.phone}"></td>
                        <td>
                            <a class="btn btn-warning" role="button" th:href="@{/school/update/{id}(id=${school.id})}"
                            th:if="${school.isActive()}">
                                <i class="bi bi-pencil-fill"></i>
                            </a>

                            <a class="btn btn-danger" role="button" th:href="@{/school/delete/{id}(id=${school.id})}"
                               th:if="${school.isActive()}">
                                <i class="bi bi-trash2-fill"></i>
                            </a>
                            <a class="btn btn-success" role="button" th:href="@{/school/restore/{id}(id=${school.id})}"
                               th:if="${!school.isActive()}">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div th:replace="fragments/script-fragment"></div>
</body>
</html>